.h{
  color:red;
  text-align: center;
  font-family:Times Out New Roman;
  font-size: xx-large;}
 .aaa{ font-family: Arial; 
    font-size:25px; border: 2px solid black; text-decoration: none;
     padding: 10px; border-radius:10px;
    color: aliceblue; background-color:rgb(170, 0, 65);
}
.logo { font-size: 2rem;
        font-weight: bold;
        color: black;
        letter-spacing: 0px;
        margin-left: 50px;
        }
        .logo .f {color: black;
                  font-family: 'Fraktur', cursive;
        }
        .logo .o-box {
            background-color: red;
            color: white;
            padding: 0 10px;
            border-radius: 5px;
            margin: 0 5px;
        }
        .logo .c {color: red;}
.aaa:hover{
  background-color: white; 
color:rgb(170, 0, 65); 
  
}
 .body{
   background-image:url('1122.jpg');
   justify-content:space between;
   background-repeat:no repeat;
   background-size:cover;
   top:0px;
   bottom:0px;
    left:0px;
   right:150px;}
 .h3{
  padding: 2px;
  text-align: center;
 text-decoration: none;
  border: black 2px solid;
  border-radius:  25px;
  font-size:  25px;
  background-color: pink;
 }
 .King{
  font-size: x-large;
color:brown;
  padding:10px;
}
 .h2:hover{
   color: yellow;
   }
   .i{ font-family: Arial; 
    font-size:35px; border: 3px solid black; text-decoration: none;
     padding: 10px; border-radius:25px;
    color: aliceblue; background-color:rgb(170, 0, 65);
}
.i:hover{
background-color: white; 
color:rgb(170, 0, 65); 
}
   .m{
     color: blue;
   }
      .M{
     color:blue;
   }
.me{
  height: 20px;
  width: 20px;
}
.mmmm{
  font-size: 25px;
}
.Q{
   padding: 0px; display: flex; font-size: 20px;
   text-align: center;
  }
